*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(206, 206, 206);
}

#principal{
    border: 2px solid black;
}

.logo-p:hover{
    cursor: pointer;
    opacity: 0.3;
    transition: 0.4s ease;
}

.logo-p{
    max-width: 30%;
    min-height: 100px;
    max-height: 1000px;
    margin-left: 90px;
    padding-bottom: 80px;
}

.topo{
    background-image: url(./imagens/Blonde-girl-fashion-gray-background_3840x2160.jpg);
    border-bottom: 2px solid black;
    background-size: cover;
    background-position: center top;
}

.lista{
    display: inline-block;
    font-size: 22.5px;
    margin: 5px;
    letter-spacing: 2px;
    }
    

.lista > a{
    display: block;
    padding: 10px;
    list-style: none;
    font-size: 150%;
    letter-spacing: 2px;
    margin: 10px;
    text-transform: uppercase;
    color: rgb(167, 167, 167);
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
}

.lista > a:hover{
    cursor: pointer;
    color: white;
    transition-duration: 0.3s;
}

#caixa-lista{
    text-align: right;
    margin-right: 30px;
    float: right;
}

main > p{
    display: block;
    text-align: center;
    margin: 0px 40px;
    font-size: 200%;
    font-family: fantasy;
}

.titulo-main{
    margin-top: 50px;
    font-size: 300%;
    text-align: center;
    font-family: fantasy;
    font-style: italic;
    text-shadow: 1px 1px 0px white;
}


.card{
    box-sizing: border-box;
    float: left;
    width: 33%;

}

.card > img{
    display: block;
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 4px;  
    margin-top: 20px;
    border: 2px solid black;
}

.card > img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}

.card > p{
    font-size: 120%;
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.card > p:hover{
    color: rgb(66, 13, 116);
    transition-duration: 0.3s;
    cursor: default;
}

.card > h4{
    font-size: 230%;
    display: inline-block;
    font-style: italic;
    width: 60%;
    text-align: center;
    margin-top: 10px;
    margin-left: 20%;
}

.card > h4:hover{
    color: rgb(66, 13, 116);
    transition-duration: 0.3s;
    cursor: default;
}


.about{
    background-image: url(./imagens/bg_detalhe.png);
    background-position: right bottom;
    background-size: cover;
    padding: 200px 0px;
    clear: both;
    margin-top: 500px;
    border: 2px solid black;

}

.about > h2{
    color: white;
    font-size: 400%;
    text-shadow: 1px 1px 4px black;
}

.about > h2 > span{
    font-style: italic;
}

.about > p{
    color: white;
    font-size: 120%;
}

#contact{
    text-align: center;
    color: rgb(4, 4, 98);
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 280%;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    cursor: pointer;
}

#contact:hover{
    color: rgb(4, 13, 61);

}

.maps{
    text-align: center;
}